<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/Styles/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-family: 'Montserrat', sans-serif; /* Aplica Montserrat al cuerpo */
        }

        .form-check-label {
            font-size: 1.25rem; /* Tamaño de la fuente de las etiquetas */
            font-family: 'Montserrat', sans-serif; /* Aplica Montserrat a las etiquetas */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fondo_nav sticky-top navbar-toggleable-sm">
        <div class="container-fluid">
            <img src="~/Content/Styles/logo.png"
                 alt=""
                 width="150"
                 height="30"
                 class="mb-2 mt-2" />
        </div>
        <form action="@Url.Action("Index", "Login")" method="post" style="display:inline;">
            <button type="submit" class="d-flex btn btn-outline-warning me-5">
                Salir
            </button>
        </form>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="text-center mt-4">
        <p>© 2024 - Pirelli MBE</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
